html, body, #root, .full-screen-container, .full-screen-row, .full-screen-col {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.fill-height{
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.scrollable-div {
    white-space: pre-wrap;
    height:  700px;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 10px;
    width: 70%;
    background: white;

}

.bold{
    font-weight: bold;
}

.container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 100%;
}

.message{
    display: inline-block; 
    margin: 5px 0;
    white-space: pre-wrap;
}

.message.backend {
    white-space: pre-wrap;
}

.message.user{
    font-weight: bold;
    display: flex;
    justify-content:flex-end;
}


.left-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:black;
    border-radius: 15px;
}


.row-bottom {
    padding: 10px;
    height: 10%;
}

.row-bottom .btn {
    width: 18%;
    height: 70%;
    border-radius: 50%;
}